target/
.mvn/wrapper/maven-wrapper.jar
/src/main/resources/sql/insertInitialDataProd.sql
/src/main/resources/operations/dbReadOnlyUserPassword
/src/main/resources/operations/production/initial.gz
/src/main/resources/operations/accessCredential
